<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include ('../partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <h5 class="card-title">Edit melding</h5>
                        <p>Wat?</p>
                        <input type="hidden" value="<%= id %>" name="id">
                        <input type="text" name="report" value="<%= report%>">
                        <p>waar</p>
                        <input type="text" name="location" value="<%= location%>">
                        <p>wie</p>
                        <input type="text" name="caller" value="<%= caller%>">
                        <p>telefoon nummer</p>
                        <input type="text" name="phone_number" value="<%= phone_number%>">
                        <input type="submit" value="update melding">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
