<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include ('../partials/header') %>
<a href="meldingen/create"><button>Maak Melding</button></a>
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card-columns">
                <% reports.forEach(function(report) { %>
                <div class="card">
                    <div class="card-body">
                        <a href="meldingen/show/<%=report.id%>"><h5 class="card-title"><%= report.report%></h5></a>
                        <h6 class="card-subtitle mb-2 text-muted"><%= report.caller%></h6>
                        <p class="card-text"><%= report.location%></p>
                        <a href="tel:<%= report.phone_number%>" class="card-link"><%= report.phone_number%></a>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </div>
</div>
</body>
</html>
