<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include ('../partials/header') %>
<div class="container">
    <div class="row">
        <div class="col-12 mt-5">
            <div class="card">
                <div class="card-body">
                    <form action="store" method="post">
                        <h5 class="card-title"><%=report%></h5>
                        <p>waar</p>
                        <p><%=location%></p>
                        <p>wie</p>
                        <p><%=caller%></p>
                        <p>Phone number</p>
                        <p><%=phone_number%></p>
                    </form>
                    <% if(session.loggedIn == false){ %>
                    <% } else{ %>
                    <div class="dropdown">
                        <a href="<%=process.env.BASEURL%>meldingen/edit/<%=id%>"><button class="btn btn-info">Pas aan</button></a>
                        <a href="<%=process.env.BASEURL%>meldingen/delete/<%=id%>"><button class="btn btn-danger">Verwijder</button></a>
                    </div>
                    <% } %>
                    <div style="width: 100%"><iframe width="100%" height="600" src="https://maps.google.com/maps?width=100%&height=600&hl=nl&q=<%=location%>>+(googlemaps)&ie=UTF8&t=&z=14&iwloc=B&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"><a href="https://www.mapsdirections.info/nl/maak-een-google-map/">Maak een Google Map</a> van <a href="https://www.mapsdirections.info/nl/">Nederland Kaart</a></iframe></div><br />
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
