

<body>
    <!-- Page Content -->
    <%- include ('./partials/header') %>

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <%= session.name%>
                <h1 class="mt-5">A Bootstrap DAGTENTAMEN TEMPLATE</h1>
                <p class="lead">Complete with pre-defined file paths and responsive navigation!</p>
                <ul class="list-unstyled">
                    <li>Bootstrap 4.3.1</li>
                    <li>jQuery 3.4.1</li>
                </ul>
            </div>
        </div>
    </div>
</body>
