<!doctype html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<%- include ('../partials/header') %>

    <h4>Registreren</h4>
    <form action="register-user" method="post">
        <p>naam:</p>
        <input type="text" name="name">
        <p>adres:</p>
        <input type="text" name="adres">
        <p>email:</p>
        <input type="email" name="email">
        <p>password:</p>
        <input type="password" name="password">
        <input type="submit" value="submit">
    </form>
</body>
</html>